@charset "utf-8";

html{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
body{
    background-color: #f9f3f3;
}
div{
    text-align: center;
    height: fit-content;
    border: 1px solid black;
}
input {
    margin: 10px;
    padding: 10px;
    border: none;
}
p{
    color: #f25287;
    font-size: large;
}

.button{
    background-color: #dddddd;
}

#mainframe{
    width: 1020px;
    height: max-content;
    margin: auto;
}

#slides{
    margin: 5px;
    position: relative;
    width: fit-content;
    height: fit-content;
    animation-name: moveleft;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes moveleft {
    0% {left: 1020px;}
    100% {left: 0px;}
}

#maincontent{
    width: 1000px;
    min-height: 600px;
    margin: 10px;
}

.contents{
    margin: 20px;
    width: 450px;
    height: 450px;
    text-align: left;
}

#leftcontent{
    float: left;
}

#rightcontent{
    float: right;
}

#introduce{
    width: 1000px;
    margin: 10px;
    column-count: 3;
    column-gap: 30px;
    column-width: 300px;
    column-rule-style:dotted;
    column-rule-width: 3px;
}

.buildings{
    width: 100px;
    height: 100px;
    transition: width 2s, height 2s;
}

.buildings:hover{
    width: 450px;
    height: 450px;
}

#search{
    margin: 10px;
    width: 220px;
    float: left;
}

#products{
    margin: 10px;
    width: 700px;
    height: auto;
    float: right;
}
